<h1>ElasticWulf Jobs</h1>

>> Submit a <%= link_to 'New job', new_job_path %>
<BR><BR>
<div id="jobs_div">
<%= render :partial => "jobs_list", :locals => { :jobs => @jobs } %>
</div>
<br >
<%= will_paginate @jobs, :id => 'wpjobs' %>
<br />
<%= periodically_call_remote(:url => {:action => :refresh, :page=> params[:page] }, :frequency => '5', :condition => "start_polling == true",
 :update => 'jobs_div', :method => :get) %>


<h2>Making JSON requests using the REST API</h2>
<h3>Submit a new job request</h3>
To submit a new job via a json request, you can post a JSON request to the REST api:
<BR>
<BR>
in ruby:
<pre>
post '/jobs/create',
  '{"job": {"name": "My Json MPI job", "description": "test run of X!Tandem", "user_id": 2,
   "number_of_instances": 12, "instance_type": "c1.medium", 
   "input_files": "s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta", 
   "commands": "bash runtandem.sh", "output_files": "myoutput.txt",
   "output_path": "S3://myoutputbucket/myrunsfolder"}}',
  {'Content-Type' => 'application/json', 'Accept' => 'application/json'}
</pre>

using curl:
<BR><BR>
REQUEST
<pre>
$ curl -H "Content-Type:application/json" -H "Accept:application/json" -d  \
"{\"job\": {\"name\": \"My Json MPI job\", \"description\": \"test run of X\!Tandem\", \
 \"user_id\": 2, \"number_of_instances\": 12, \"instance_type\": \"c1.medium\", \
 \"input_files\": \"s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta\", \
 \"commands\": \"bash runtandem.sh\", \"output_files\": \"myoutput.txt\", \"output_path\":  \
\"S3://myoutputbucket/myrunsfolder\"}}" http://localhost:3000/jobs
</pre>

RESPONSE
<pre>
{"job": {"name": "My Json MPI job", "mpi_service_rest_url": "http://72-63-103-214.pools.spcsdns.net:3000/",
"master_security_group": "3-master", "failed_at": null, "created_at": "2009-04-27T02:51:51-04:00",
"log_path": null, "finished_at": null, "worker_security_group": "3", "updated_at": "2009-04-27T02:51:51-04:00",
"output_path": "S3://myoutputbucket/myrunsfolder", "number_of_instances": 12, "master_public_hostname": null,
"progress": null, "instance_type": "c1.medium", "shutdown_after_complete": true, "output_files": "myoutput.txt",
"id": 3, "error_message": null, "ebs_volumes": null, "cancelled_at": null, "availability_zone": "us-east-1c",
"user_id": 2, "master_ami_id": "ami-ef48af86", "input_files": "s3://mybucket/input/genome.txt
 s3://myfastabucket/somedata.fasta", "master_hostname": null, "keypair": null, "started_at": null,
"description": "test run of X\\!Tandem", "commands": "bash runtandem.sh", "mpi_version": "openmpi",
"worker_ami_id": "ami-ef48af86", "state": "launch_pending", "master_instance_id": null}}
</pre>

<h3>Checking on job status via GET</h3>

REQUEST
<pre>
$ curl http://localhost:3000/jobs/3.json
</pre>

RESPONSE
<pre>
{"job": {"name": "My Json MPI job", "mpi_service_rest_url": "http://72-63-103-214.pools.spcsdns.net:3000/",
"master_security_group": "3-master", "failed_at": null, "created_at": "2009-04-27T01:45:06-04:00",
 "log_path": "", "finished_at": null, "worker_security_group": "1", "updated_at": "2009-04-27T01:45:30-04:00",
"output_path": "S3://myoutputbucket/myrunsfolder", "number_of_instances": 12, "master_public_hostname":
"ec2-75-101-230-51.compute-1.amazonaws.com", "progress": null, "instance_type": "c1.medium",
"shutdown_after_complete": true, "output_files": "myoutput.txt", "id": 3, "error_message": null, "ebs_volumes":
"", "cancelled_at": null, "availability_zone": "us-east-1c", "user_id": 2, "master_ami_id": "ami-ef48af86",
"input_files": "s3://mybucket/input/genome.txt s3://myfastabucket/somedata.fasta", "master_hostname":
"domU-12-31-39-03-BD-B2.compute-1.internal", "keypair": "", "started_at": null, "description": "test run of
X!Tandem", "commands": "bash runtandem.sh", "mpi_version": "", "worker_ami_id": "ami-ef48af86", "state":
"configuring_cluster", "master_instance_id": "i-495ad120"}}
</pre>

<h3>Cancel a job request and shutdown the EC2 cluster</h3>

REQUEST
<pre>
$ curl -H "Content-Type:application/json" -H "Accept: application/json" -X PUT  http://localhost:3000/jobs/3/cancel 
</pre>

RESPONSE

<pre>
{"job": {"name": "My Json MPI job", "mpi_service_rest_url": "http://72-63-103-214.pools.spcsdns.net:3000/",
"master_security_group": "3-master", "failed_at": null, "created_at": "2009-04-27T04:22:30-04:00", "log_path":
null, "finished_at": null, "worker_security_group": "13", "updated_at": "2009-04-27T04:22:53-04:00",
"output_path": "S3://myoutputbucket/myrunsfolder", "number_of_instances": 12, "master_public_hostname": null,
"progress": null, "instance_type": "c1.medium", "shutdown_after_complete": true, "output_files": "myoutput.txt",
"id": 3, "error_message": null, "ebs_volumes": null, "cancelled_at": null, "availability_zone":
"us-east-1c","user_id": 2, "master_ami_id": "ami-ef48af86", "input_files": "s3://mybucket/input/genome.txt
s3://myfastabucket/somedata.fasta", "master_hostname": null, "keypair": null, "started_at": null, "description":
"test run of X\\!Tandem", "commands": "bash runtandem.sh", "mpi_version": "openmpi", "worker_ami_id":
"ami-ef48af86", "state": "cancellation_requested", "master_instance_id": null}}
</pre>


