development:
  rails_application_port: 3000
  repository: "git://github.com/datawrangling/elasticwulf-service.git"
  aws_access_key_id: 1233KNMKNDSVNDKNVDVD  
  aws_secret_access_key: DJNVio/vvJDNNCDMVMLlmLMLMLMLMVDlcmldcmdl
  web_security_group: 'default'
  default_master_ami_id: ami-bf5eb9d6
  default_worker_ami_id: ami-bf5eb9d6
  default_instance_type: m1.small
  default_availability_zone: us-east-1c
  default_mpi_version: openmpi
  default_keypair: gsg-keypair
  default_user_id: 1
  admin_user: REPLACE_ME
  admin_password: REPLACE_ME
  protocol: http

test:
  rails_application_port: 3000
  repository: "git://github.com/datawrangling/elasticwulf-service.git"
  aws_access_key_id: 1233KNMKNDSVNDKNVDVD  
  aws_secret_access_key: DJNVio/vvJDNNCDMVMLlmLMLMLMLMVDlcmldcmdl
  web_security_group: 'default'
  default_master_ami_id: ami-bf5eb9d6
  default_worker_ami_id: ami-bf5eb9d6
  default_instance_type: c1.medium
  default_availability_zone: us-east-1c
  default_mpi_version: openmpi
  default_keypair: gsg-keypair
  default_user_id: 1
  admin_user: REPLACE_ME
  admin_password: REPLACE_ME
  protocol: http

production:
  rails_application_port: 3000
  repository: "git://github.com/datawrangling/elasticwulf-service.git"
  aws_access_key_id: 1233KNMKNDSVNDKNVDVD
  aws_secret_access_key: DJNVio/vvJDNNCDMVMLlmLMLMLMLMVDlcmldcmdl
  web_security_group: 'default'
  default_master_ami_id: ami-bf5eb9d6
  default_worker_ami_id: ami-bf5eb9d6
  default_instance_type: c1.medium
  default_availability_zone: us-east-1c
  default_mpi_version: openmpi
  default_keypair: gsg-keypair
  default_user_id: 1
  admin_user: REPLACE_ME
  admin_password: REPLACE_ME
  protocol: https  